#version: '3.8'
x-database-image: &database-image
  image: postgis/postgis:${POSTGRES_VERSION:-16-master}

x-file-storage-image: &file-storage-image
  image: rclone/rclone:${RCLONE_VERSION:-1.68}

x-healthcheck-options: &healthcheck-options
  interval: 10s
  timeout: 3s
  retries: 3
  start_period: 30s

services:
  app:
    image: dhis2/core:${DHIS2_VERSION:-42}
    depends_on:
      database:
        condition: service_healthy
    volumes:
      - dhis2:/opt/dhis2/
      - ./config/dhis2/log4j2.xml:/opt/dhis2/log4j2.xml:ro
      - ./config/dhis2/dhis.conf:/opt/dhis2/dhis.conf:ro
      - type: tmpfs
        target: /tmp
        tmpfs:
          size: 1000000
      - type: tmpfs
        target: /usr/local/tomcat/temp
        tmpfs:
          size: 1
      - type: tmpfs
        target: /usr/local/tomcat/logs
        tmpfs:
          size: 1000000
      - type: tmpfs
        target: /usr/local/tomcat/work/Catalina/localhost/ROOT
        tmpfs:
          size: 1
    environment:
      # -- Name of the database to use
      POSTGRES_DB: ${POSTGRES_DB:-dhis}
      # -- Database username
      POSTGRES_DB_USERNAME: ${POSTGRES_DB_USERNAME}
      # -- Database password
      POSTGRES_DB_PASSWORD: ${POSTGRES_DB_PASSWORD}
      MONITORING_API_ENABLED: on
      MONITORING_JVM_ENABLED: on
      MONITORING_DBPOOL_ENABLED: on
      MONITORING_HIBERNATE_ENABLED: on
      MONITORING_UPTIME_ENABLED: on
      MONITORING_CPU_ENABLED: on
    networks:
      - frontend
      - application
      - database
      - monitoring
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://127.0.0.1:8080/dhis-web-login/" ]
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 120s
    user: 65534:65534
    cap_drop:
      - ALL
    read_only: true
    security_opt:
      - no-new-privileges:true

  update-admin-password:
    depends_on:
      app:
        condition: service_healthy
    volumes:
      - ./scripts/update-admin-password.sh:/update-admin-password.sh:ro
    environment:
      # -- Database hostname
      POSTGRES_HOST: database
      # -- Postgres user password
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      # -- Name of the database
      POSTGRES_DB: ${POSTGRES_DB:-dhis}
      # -- DHIS2 admin username
      DHIS2_ADMIN_USERNAME: ${DHIS2_ADMIN_USERNAME}
      # -- DHIS2 admin password
      DHIS2_ADMIN_PASSWORD: ${DHIS2_ADMIN_PASSWORD}
    networks:
      - database
    entrypoint: [ "/bin/sh", "/update-admin-password.sh" ]
    working_dir: /root
    <<: *database-image
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true

  create-monitoring-user:
    image: alpine:3.22
    depends_on:
      update-admin-password:
        condition: service_completed_successfully
    volumes:
      - ./scripts/create-monitoring-user.sh:/create-monitoring-user.sh:ro
    environment:
      DHIS2_HOSTNAME: http://app:8080
      DHIS2_ADMIN_USERNAME: ${DHIS2_ADMIN_USERNAME}
      DHIS2_ADMIN_PASSWORD: ${DHIS2_ADMIN_PASSWORD}
      DHIS2_MONITOR_USERNAME: ${DHIS2_MONITOR_USERNAME}
      DHIS2_MONITOR_PASSWORD: ${DHIS2_MONITOR_PASSWORD}
    networks:
      - application
    entrypoint: [ "/bin/sh", "/create-monitoring-user.sh" ]
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true

  database:
    volumes:
      - postgres:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d:ro
      - ./config/postgresql/postgresql.conf:/etc/postgresql/postgresql.conf:ro
      - ./config/postgresql/conf.d:/etc/postgresql/conf.d:ro
    environment:
      # -- Postgres user password
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      # -- Name of the database
      POSTGRES_DB: ${POSTGRES_DB:-dhis}
      # -- Database username
      POSTGRES_DB_USERNAME: ${POSTGRES_DB_USERNAME}
      # -- Database password
      POSTGRES_DB_PASSWORD: ${POSTGRES_DB_PASSWORD}
      # -- Initdb arguments
      POSTGRES_INITDB_ARGS: "--auth-host=scram-sha-256 --auth-local=scram-sha-256"
      # -- Metrics username
      POSTGRES_METRICS_USERNAME: ${POSTGRES_METRICS_USERNAME}
      # -- Metrics user password
      POSTGRES_METRICS_PASSWORD: ${POSTGRES_METRICS_PASSWORD}
    networks:
      - database
      - monitoring
    command: >
      postgres
        -c config_file=/etc/postgresql/postgresql.conf
        -c hba_file=/var/lib/postgresql/data/pg_hba.conf
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 3
    user: postgres
    <<: *database-image
    cap_drop:
      - ALL
    read_only: true
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /var/run/postgresql
    ports:
      - "5432:5432"

  traefik-init:
    image: alpine:3.22
    volumes:
      - cert:/cert:rw
      - ./scripts/init-cert.sh:/init-cert.sh:ro
    command: [ "/init-cert.sh" ]

  traefik:
    image: traefik:v3.5
    depends_on:
      traefik-init:
        condition: service_completed_successfully
    volumes:
      - ./traefik/dynamic.yml:/etc/traefik/dynamic.yml:ro
      - cert:/cert:rw
    environment:
      # -- Log level
      TRAEFIK_LOG_LEVEL: ${LOG_LEVEL:-INFO}
      # -- Enable access logs
      TRAEFIK_ACCESSLOG: ${LOG_ACCESS:-true}
      # -- Access log format
      TRAEFIK_ACCESSLOG_FORMAT: ${LOG_FORMAT:-json}
      # -- Allow ping
      TRAEFIK_PING: true
      # -- Default entrypoint port
      TRAEFIK_ENTRYPOINTS_WEB_ADDRESS: :80
      # -- Redirect to https
      TRAEFIK_ENTRYPOINTS_WEB_HTTP_REDIRECTIONS_ENTRYPOINT_TO: websecure
      # -- Redirect scheme
      TRAEFIK_ENTRYPOINTS_WEB_HTTP_REDIRECTIONS_ENTRYPOINT_SCHEME: https
      # -- Default secure entrypoint port
      TRAEFIK_ENTRYPOINTS_WEBSECURE_ADDRESS: :443
      # -- Provider file
      TRAEFIK_PROVIDERS_FILE_FILENAME: /etc/traefik/dynamic.yml
      # -- Watch the provider file for changes
      TRAEFIK_PROVIDERS_FILE_WATCH: false
      TRAEFIK_API: true
      TRAEFIK_API_INSECURE: true
      TRAEFIK_API_DASHBOARD: true
      TRAEFIK_METRICS_PROMETHEUS: true
      # -- ACME email
      TRAEFIK_CERTIFICATESRESOLVERS_LETSENCRYPT_ACME_EMAIL: ${LETSENCRYPT_ACME_EMAIL}
      # -- ACME storage file
      TRAEFIK_CERTIFICATESRESOLVERS_LETSENCRYPT_ACME_STORAGE: /cert/acme.json
      # -- ACME DNS challenge
      TRAEFIK_CERTIFICATESRESOLVERS_LETSENCRYPT_ACME_TLSCHALLENGE: true
      # -- Hostname
      APP_HOSTNAME: ${APP_HOSTNAME}
    ports:
      - "0.0.0.0:80:80"
      - "0.0.0.0:443:443"
      - "0.0.0.0:8080:8080"
#      - "127.0.0.1:8080:8080"
    networks:
      - frontend
      - monitoring
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "traefik", "healthcheck" ]
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 10s
    user: nobody:nobody
    cap_drop:
      - ALL
    read_only: true
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /tmp

  grafana:
    image: grafana/grafana:${GRAFANA_VERSION:-10.0.0}
    depends_on:
      create-monitoring-user:
        condition: service_completed_successfully
    volumes:
      - grafana:/var/lib/grafana
      - ./overlays/monitoring/config/grafana/dashboards:/var/lib/grafana/dashboards:ro
      - ./overlays/monitoring/config/grafana/provisioning:/etc/grafana/provisioning:ro
    environment:
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_ADMIN_PASSWORD}
      GF_SECURITY_ADMIN_USER: admin
      GF_USERS_ALLOW_SIGN_UP: false
      GF_SECURITY_DISABLE_GRAVATAR: true
      GF_ANALYTICS_REPORTING_ENABLED: false
      GF_ANALYTICS_CHECK_FOR_UPDATES: false
      GF_LOG_LEVEL: warn
      GF_PATHS_PROVISIONING: /etc/grafana/provisioning
      GF_SERVER_ROOT_URL: https://grafana.${APP_HOSTNAME}
      GF_SERVER_SERVE_FROM_SUB_PATH: false
      DS_PROMETHEUS: prometheus
    networks:
      - frontend
      - monitoring
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:3000/api/health" ]
      <<: *healthcheck-options
    user: 472:472
    cap_drop:
      - ALL
    read_only: true
    security_opt:
      - no-new-privileges:true

  prometheus:
    image: prom/prometheus:${PROMETHEUS_VERSION:-v2.45.0}
    volumes:
      - prometheus:/prometheus
    configs:
      - source: prometheus
        target: /etc/prometheus/prometheus.yml
        mode: 444
    secrets:
      - dhis2_monitor_password
    environment:
      PROMETHEUS_RETENTION_TIME: ${PROMETHEUS_RETENTION_TIME:-15d}
    networks:
      - monitoring
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.console.libraries=/etc/prometheus/console_libraries"
      - "--web.console.templates=/etc/prometheus/consoles"
      - "--web.enable-lifecycle"
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--quiet", "--output-document=/dev/null", "http://localhost:9090/-/healthy" ]
      <<: *healthcheck-options
    user: nobody:nobody
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true

  postgres-exporter:
    image: quay.io/prometheuscommunity/postgres-exporter:${POSTGRES_EXPORTER_VERSION:-v0.17.1}
    depends_on:
      database:
        condition: service_healthy
    environment:
      DATA_SOURCE_NAME: "postgresql://${POSTGRES_METRICS_USERNAME}:${POSTGRES_METRICS_PASSWORD}@database:5432/${POSTGRES_DB}?sslmode=disable"
    networks:
      - database
      - monitoring
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--quiet", "--output-document=/dev/null", "http://localhost:9187/metrics" ]
      <<: *healthcheck-options
    user: nobody:nobody
    cap_drop:
      - ALL
    read_only: true
    security_opt:
      - no-new-privileges:true

  node-exporter:
    image: prom/node-exporter:${NODE_EXPORTER_VERSION:-v1.6.1}
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    networks:
      - monitoring
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host)($$|/)'
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--quiet", "--output-document=/dev/null", "http://localhost:9100/metrics" ]
      <<: *healthcheck-options
    user: "65534:65534"
    cap_drop:
      - ALL
    read_only: true
    security_opt:
      - no-new-privileges:true

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:${CADVISOR_VERSION:-v0.47.0}
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker:/var/lib/docker:ro
      - /dev/disk:/dev/disk:ro
    networks:
      - monitoring
    command:
      - --disable_metrics=disk,referenced_memory
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--quiet", "--output-document=/dev/null", "http://localhost:8080/metrics" ]
      <<: *healthcheck-options
    cap_drop:
      - ALL
    privileged: true
    security_opt:
      - no-new-privileges:true
    userns_mode: "host"

  backup-database:
    depends_on:
      database:
        condition: service_healthy
    volumes:
      - ./backups:/backups
      - ./scripts/backup-database.sh:/backup-database.sh:ro
    environment:
      # -- Database hostname
      POSTGRES_HOST: database
      # -- Database username
      POSTGRES_USER: ${POSTGRES_DB_USERNAME}
      # -- Database password
      POSTGRES_PASSWORD: ${POSTGRES_DB_PASSWORD}
      # -- Database name
      POSTGRES_DB: ${POSTGRES_DB:-dhis}
      # -- Database backup format
      POSTGRES_BACKUP_FORMAT: ${POSTGRES_BACKUP_FORMAT:-custom}
      # -- The `PGPASSWORD` environment variable is used by the `pg_dump` command`
      PGPASSWORD: ${POSTGRES_DB_PASSWORD}
    networks:
      - database
    entrypoint: [ "/bin/bash", "/backup-database.sh" ]
    <<: *database-image
    profiles:
      - backup

  backup-file-storage:
    volumes:
      - dhis2:/opt/dhis2:ro
      - ./backups:/backups
      - ./scripts/backup-file-storage.sh:/backup-file-storage.sh:ro
    environment:
      # -- Backup timestamp. Used to name the backup directory and the backup file. Since those are created by different containers, we need to ensure the backup timestamp is the same for both containers.
      BACKUP_TIMESTAMP: ${BACKUP_TIMESTAMP}
      # -- Directory to back up
      BACKUP_SOURCE_PATH: ${BACKUP_SOURCE_PATH:-/opt/dhis2/files}
    networks:
      - application
    entrypoint: [ "/bin/sh", "/backup-file-storage.sh" ]
    <<: *file-storage-image
    profiles:
      - backup

  restore-database:
    depends_on:
      database:
        condition: service_healthy
    volumes:
      - ./backups:/backups:ro
      - ./scripts/restore-database.sh:/restore-database.sh:ro
      - ./scripts/fix-ownership.sh:/fix-ownership.sh:ro
    environment:
      # -- Database hostname
      POSTGRES_HOST: database
      # -- Database username
      POSTGRES_USER: ${POSTGRES_DB_USERNAME}
      # -- Database password
      POSTGRES_PASSWORD: ${POSTGRES_DB_PASSWORD}
      # -- Database name
      POSTGRES_DB: ${POSTGRES_DB:-dhis}
      # -- The `PGPASSWORD` environment variable is used by the `pg_dump` command`
      PGPASSWORD: ${POSTGRES_PASSWORD}
      # -- Database restore file
      DB_RESTORE_FILE: ${DB_RESTORE_FILE}
      # -- Number of parallel jobs for pg_restore
      DB_RESTORE_NUMBER_OF_JOBS: ${DB_RESTORE_NUMBER_OF_JOBS:-4}
    networks:
      - database
    entrypoint: [ "/bin/bash", "/restore-database.sh" ]
    <<: *database-image
    profiles:
      - restore

  restore-file-storage:
    volumes:
      - dhis2:/opt/dhis2
      - ./backups:/backups:ro
      - ./scripts/restore-file-storage.sh:/restore-file-storage.sh:ro
    environment:
      # -- Directory to restore from
      FILE_STORAGE_RESTORE_SOURCE_DIR: ${FILE_STORAGE_RESTORE_SOURCE_DIR}
      # -- Directory to restore to
      RESTORE_DESTINATION_PATH: ${RESTORE_DESTINATION_PATH:-/opt/dhis2/files}
    networks:
      - application
    entrypoint: [ "/bin/sh", "/restore-file-storage.sh" ]
    <<: *file-storage-image
    profiles:
      - restore

  compose-docs:
    image: tons/docker-compose-docs:2.1.0
    volumes:
      - .:/src:ro
    environment:
      DOCKER_COMPOSE_FILE_GLOBS: /src/docker-compose.yml;/src/overlays/*/docker-compose.yml
    profiles:
      - docs

networks:
  frontend:
  application:
  database:
  monitoring:

volumes:
  dhis2: {}
  postgres: {}
  cert: {}
  prometheus: {}
  grafana: {}

secrets:
  dhis2_monitor_password:
    environment: DHIS2_MONITOR_PASSWORD

configs:
  prometheus:
    content: |
      global:
        scrape_interval: 15s
        evaluation_interval: 15s

      scrape_configs:
        - job_name: 'dhis2'
          static_configs:
            - targets: [ 'app:8080' ]
          metrics_path: '/api/metrics'
          basic_auth:
            username: ${DHIS2_MONITOR_USERNAME}
            password_file: /run/secrets/dhis2_monitor_password
        - job_name: 'traefik'
          static_configs:
            - targets: [ 'traefik:8080' ]
          metrics_path: '/metrics'
        - job_name: 'postgres'
          static_configs:
            - targets: [ 'postgres-exporter:9187' ]
        - job_name: 'node-exporter'
          static_configs:
            - targets: [ 'node-exporter:9100' ]
        - job_name: 'cadvisor'
          static_configs:
            - targets: [ 'cadvisor:8080' ]
